{{#partial "content"}}
    <h1>{{artist.name}}</h1>
    <img src="{{artist.imageUrl}}" width="75%">
    <p>Albums:</p>
    <ul>
        {{#each albums}}
            <li>
                <p><a href="/artists/{{artist.id}}/albums/{{id}}">{{name}}</a></p>
            </li>
        {{/each}}
    </ul>
    <a href="/artists/{{artist.id}}/edit">Edit this artist</a><br>
    <a href="/artists/{{artist.id}}/delete">DELETE this artist</a><br>
{{/partial}}

{{> layout.hbs}}